/* @import url('../css/style.css');
@import url('../css/header.css'); */


.acheivements-area{
    display: grid;
    grid-template-columns: 40% 57%;
    gap: 3%;
}



/*===== acheivements-cards ===== */
.acheivements-cards .acheivements-card{
    padding: 25px 50px;
    border-radius: var(--radius-md);
    background-color: var(--bg-color-1);
    border: 1px solid transparent;
}
.acheivements-cards .acheivements-card:hover{
    border: 1px solid var(--bg-color-1);
    background-color: transparent;
}
.acheivements-card .acheivement-card-iocn{
    padding: 5px 2px;
    font-size: var(--xxl-font);
    text-align: center;
    width: 45px;
    height: 55px;
    border-radius: var(--radius-sm);
    margin-bottom: 15px;
}
.acheivements-card h4{
    /* color: var(--light-color);
    font-weight: 500;
    font-size: var(--sm-font); */
}

.acheivements-card:nth-child(1) .acheivement-card-iocn{
    background-color: var(--danger-color);
}
.acheivements-card:nth-child(2) .acheivement-card-iocn{
    background-color: var(--light-color);
}
.acheivements-card:nth-child(3) .acheivement-card-iocn{
    background-color: var(--primary-color);
}




/* our-team-member */
.our-teams-members.box-container{
    grid-template-columns: repeat(auto-fit, minmax(23% ,1fr));
    gap: 1.4%;
}
.our-team-member{
    padding: 20px;
    background-color: var(--bg-color-1);
    /* border-radius: var(--radius-lg); */
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}
.our-team-member:hover{
    background-color: transparent;
    border: 1px solid var(--bg-color-1);
}
.our-team-member img{
    filter: saturate(1);
    border-radius: var(--radius-sm);
}
.our-team-member:hover img{
    filter: saturate(0);
}


/* team-member-data */
.team-member-data{
    margin-top: 15px;
    text-align: center;
}
.our-team-member p{
    font-size: var(--xs-font);
    margin-top: 5px;
    color: var(--light-color);
}
.our-team-member .hide-icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 17px 0 0 17px;
    gap: 5px;
    transition: var(--transition);
}
.our-team-member:hover .hide-icons{
    right: 0;
    z-index: 2;
}



@media screen and (max-width:991px){
    .our-teams-members.box-container {
        grid-template-columns: repeat(auto-fit, minmax(30.1% ,1fr));
        gap: 2%;
    }
    .acheivements-area {
        display: grid;
        grid-template-columns: 100%;
        gap: 3%;
    }
    .acheivements-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .acheivements-cards{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media  screen  and (max-width:580px){
    .acheivements-cards .acheivements-card {
        padding: 25px;
    }
    .our-teams-members.box-container {
        grid-template-columns: repeat(auto-fit, minmax(47% ,1fr));
        gap: 2%;
    }
    .acheivements-cards {
    
        grid-template-columns: 1fr;
    }
    .acheivements-card{
        max-width: 400px;
        width: 100%;
        margin: 0 auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .our-team-member {
        padding: 15px 10px 30px 10px;
    }
}